	/*头部*/
#top{
	width: 100%;
	height: 50px;
	height: 50px;
	background: red;
}
#top img{
	width: 100%;
	height: 50px;
}


/* header  头部*/
#headr{
	
	background:#333 ;
	
}
#headr .container{
	height: 40px;
	overflow: hidden;
}
#headr .ul1{
	margin-left: 100px;
}
#headr .ul1 li{
	float: left;
	line-height: 40px;
	margin-right: 20px;
	color: #fff;
	font-size: 12px;	
}
#headr .ul2 li{
	float: left;
	padding: 0 11px ;
	color: #fff;
}
#headr .ul2 li a{
	line-height: 40px;
	color: #fff;
	font-size: 12px;
}
#headr .ul2 li:hover  a{
	color: #CCCCCC;
}

/* logo*/
#logo .container{
	height: 219px;
}
#logo .shang{
	
	width: 98px;
    height: 58px;
    margin: 0 auto;
    padding: 55px 0;
}
#logo .xia{
	width: 1190px;
	height: 50px;
	/*background: red;*/
	position: relative;
}
#logo .xia ul li{
	float: left;
	line-height: 50px;
	margin-right:80px;
	font-size: 20px;
}
#logo .xia ul li a{
	color:#000000;
}
#logo .xia input{
	margin-top:17px;
	border-bottom: 1px solid #000000;	
}
 #logo .xia i{
 	position: absolute;
 	right:0px ;
 	top: 2px;
 	font-size: 30px;
 }
 
 /*导航*/
#logo .xia ul li .ej{
	width: 1268px;
	height:328px ;
	display: none;
	z-index: 3;
	position: absolute;
	left: -79px;
	top: 10;
	padding-left: 80px;
	background: #fff;
}
#logo .xia ul li:hover .ej{
	display: block;
}
#logo .xia ul li dl {
	float: left;
	margin-right: 150px;
	line-height: 50px;
}



/* xiaolunbo*/
#lunbo .container{
	height: 567px;

}
#lunbo .xptj{
	height: 112px;
	background: #fff;
}
#lunbo .xptj h3{
	text-align: center;
	font-size: 50px;	
	line-height:112px ;
}
#lunbo .dv1 p{
	text-align: center;
	
}

#lunbo .dv1{
	background: #fff;
}
#lunbo .dv1 span{
	margin-right: 20px;
	border-bottom: 1px solid #000000;
}

#lunbo  .dic ul li{
	float: left;
	margin-right:20px ;
	
}

#lunbo  .dic {
	overflow: hidden;
	margin-left: 80px;
	padding-top: 64px;
	
}








/*主推*/

#zhutui  .container{
	height: 786px;
	background: #fff;
}
#zhutui .dv2{
	text-align: center;
	font-size: 50px;
	padding-top: 25px;
}
#zhutui .dv3 {
	text-align: center;
	margin-top: 20px ;
}
#zhutui .dv3 a{
	color: #000000;
}
#zhutui .dv3 span{
	margin-right: 20px;
	border-bottom: 1px solid #000000;
}

#zhutui .dv4{
	margin-top: 80px;
	padding-left: 96px;
	margin-bottom: 20px;
}
#zhutui .dv4 ul li {
	float: left;
	margin-right: 28px;
	
}



#zhutui .dv5{
	padding-left: 175px;
	padding-top:10px;
	
}


#chaoliu .container{
	height: 660px;

	margin-top: 10px;
}


#chaoliu .dv8{
	text-align: center;
	font-size: 50px;
	padding-top: 25px;
}

#chaoliu .dv9{
	text-align: center;
	
}
#chaoliu .dv9 p{
	font-size: 25px;
	margin-top: 20px;
}

#chaoliu .dv10 ul li{
	float: left;
	margin-right: 28px;
}

#chaoliu .dv10{
	margin-top: 30px;
	padding-left: 96px;
}



#tupian .container{
	height: 357px;
	
}


#tupian .dv11 ul li{
	float: left;
	margin-right: 26px;
}
#tupian .dv11{
	padding-left: 95px;
}



#shiping .dv12{
	height: 468px;
	margin-left: 107px;
}
#shiping .dv12 img{
	width: 999px;
	height: 444px;
}



#sp .dv13{
	height: 528px;
	padding-left: 90px;
}
















/*正品*/
#zp{
		background: #333;
		border-bottom: 1px solid #666;
}
#zp .container{
	height: 116px;
	background: #333;
	
	
}
#zp ul li{
	float: left;
	line-height: 116px;
	font-size: 25px;
	margin-right: 40px;
}
#zp ul li a{
	color: #fff;
	margin-left: 10px;
}
#zp ul li i{
	color: #fff;
}

/*底部*/

#dibu{
	background: #333333;
}
#dibu .container{
	height: 415px;
}
#dibu .shang{
	height: 130px;
	padding-top:20px;
}
#dibu .shang ul{
	float: left;
	margin-right: 70px;
	line-height:30px;
	
}
#dibu .shang ul li a{
	color: #666;
	font-size: 12px;
}
#dibu .shang .shang1{
	color:#fff;
}

#dibu .shang  .dl1 a{
	color:#fff ;
}


#dibu .zhong{
	height: 207px;
	/*background: #007AFF;*/
}
#dibu .zhong ul li{
	float: left;
	margin-right: 40px;
}
#dibu .zuo{
	width: 600px;
	height:207px ;
	/*padding-top: 158px;*/
	/*padding-left: 10px;*/
}
#dibu .zuo ul{
	margin-top:130px;
}

#dibu .you{
	width: 400px;
	height: 207;
	padding-top:40px;
	padding-left: 50px;
}
#dibu .xia ul li {
	margin-right: 20px;
}
#dibu .xia li{
	float: left;

}
#dibu .xia ul li a{
	color: #fff;
	font-size: 12px;
}
#dibu .xia p{
	color: #fff;
	font-size: 12px;
}
